<i class="fa fa-gamepad fa-5x" aria-hidden="true"></i>
<h1>GameStorage</h1>
<nav>
    <ul>
        <li class="active"><a href="/">Home</a></li>
        <li class="active"><a href="/formulario">Formulario</a></li>
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="/contato">Contato</a></li>
    </ul>
</nav>