<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Formulário de Jogos</title>
    </head>
    
<body>    
    <header>
        <%- include('./slices/header-slice.ejs') %>
    </header>
    <br />

    <button style="width: 50%; height: 50px" onclick="window.location.href='/formulario'">Ir para formulario</button>

    <p>
        Primeiro eu queria cumprimentar os internautas. -Oi Internautas! 
        Depois dizer que o meio ambiente é sem dúvida nenhuma uma ameaça ao desenvolvimento sustentável. 
        E isso significa que é uma ameaça pro futuro do nosso planeta e dos nossos países. O desemprego beira 20%, ou seja, 1 em cada 4 portugueses.
    </p>  
    <br />
    <footer>
        <%- include('./slices/footer-slice.ejs') %>
    </footer> 
</body>
</html>