<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Formulário de Jogos</title>
    </head>
    
<body>    
    <header>
        <%- include('./slices/header-slice.ejs') %>
    </header>
    <br />
    <p> Esse projeto é um simples formulário de cadastro que coloca os dados em um pdf.</p>
    <p> O projeto tem uma simples tela inicial, a tela de cadastro e tela sobre.</p> 
    <p> O objetivo principal é ter o projeto com 4 features que o desenvolvedor escolher.</p>
    <br />
    <footer>
        <%- include('./slices/footer-slice.ejs') %>
    </footer> 
</body>
</html>